/*
Base
*/

body, html, div, h1, form, img {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: lato;
}

.bollyFont {
  font-family: 'Nothing You Could Do', cursive;
}

.largeFont {
  font-size: 2.3em;
}

input:focus, textarea:focus {
  outline: auto 5px purple;
}

.hover:hover {
  cursor: pointer;
}


/*
Layout
*/

.fullHeight {
  height: 100%;
}

.flexContainer {
  display: -webkit-flex;
  display: flex;
}

.horizontalCenterContainer {
  margin: 0 auto;
}

.verticalCenterAbsolute {
  position: absolute;
  top: 60%;
}

.absoluteCenter {
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

.whiteBackground {
  background-color: white;
}

.tealBackground {
  background-color: teal;
}

.maroonBackground {
  background-color: maroon;
}

.red {
  color: red;
}

.purple {
  color: purple;
}




/*
Module: Guest & Member Login
*/

.bollyBackground {
  background: #000000 url("../images/bollyBackground.jpg") no-repeat;
  background-position: 50% 0%;
}

.bollyBackground-isFaded {
  background: #000000 url("../images/bollyBackground.jpg") no-repeat;
}

.logoPosition {
  position: absolute;
  top: 30px;
  right: 100px;
  border-radius: 10px;
  padding: 5px;
}

.bPicStyling {
  height: 60px;
  width: 60px;
}

.logoText {
  color: white;
  transform: translate(-12px, 10px);
}

.memberSigninStyling {
  position:absolute;
  top: 125px;
  right: 100px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.setWidth {
  width: 450px;
}

.loginStyling {
  position:absolute;
  width: 500px;
  bottom: 60px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

.centerText {
  text-align: center;
}

.loginPadding {
  padding: 5px;
}

.formPadding {
  padding: 3px 3px 3px 15px;
}

.signupButtonStyling {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  color: white;
  padding: 5px;
  margin: 8px 3px;
  border-radius: 10px;
}

/*
Module: Member Screen
*/

.bBackground {
  background: white url("../images/b.png") center no-repeat;
}

.addBollySize {
  height: 200px;
  width: 1080px;
  margin: 20px 0 20px 20px;
}

.bollySize {
  height: 500px;
  width: 518px;
  margin: 20px;
}

.titleTextStyling {
  margin: 10px;
}

.memberMargin {
  position: absolute;
  margin: 2px auto;
}

.nameText {
  color: white;
  transform: translate(0px, 14px);
  margin: 0 11px 0 0;
}

.shadow {
  box-shadow: 5px 5px 5px #888888;
}

.floatBorder {
  border: 1px solid #888888;
}

/*
Search
*/

.searchBoxMargins {
  margin: 10px;
}

.textBoxStyling {
  width: 200px;
  height: 25px;
  color: purple;
  font-size: 1em;
}

.searchText {
  margin: 10px;
}

.thumbStyling {
  margin: 20px;
}


/*
My Bolly
*/


.videoSize {
  margin: 20px 0 0 0;
  width: 100%;
}

.messageTextBoxStyling {
  margin: 400px 0 0 0;
  bottom: 12px;
  margin: 10px;
}



















