/*
Base
*/

body, html {
  margin: 0;
  padding: 0;
}





/*
Layout
*/

.fullHeight {
  height: 100%;
}

.flexCenterHorizontal {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}






/*
Module: Guest & Member Login
*/

.bollyBackground {
  background: #000000 url("../images/bollyBackground.jpg") no-repeat;
}

.bollyBackgroundFade {
  background: #000000 url("../images/bollyBackground.jpg") no-repeat;
}


