/*
Base
*/

body, html {
  margin: 0;
  padding: 0;
}





/*
Layout
*/

.fullHeight {
  height: 100%;
}









/*
Module: Guest
*/

.bollyBackground {
  background: #00ff00 url("../images/bollyBackground.jpg") no-repeat;

}

